<div class="results-block col-9">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card mt-3 col-9">
    <div class="card-header d-flex flex-wrap align-items-center justify-content-between gap-3">
      <table class= "col-md-12">
        <tbody>
          <% @friends.each do |friend| %>
            <tr>
              <td><strong>Name:</strong> <%= friend.full_name %></td>
              <td><strong>Email:</strong> <%= friend.email %></td>
              <td><strong>Profile: </strong> 
                <%= link_to "View Profile", user_path(friend), class: "btn btn-sm btn-success" %>
                <% if current_user.not_friends_with?(friend.id) %>
                  <%= link_to 'Follow Friend', friendships_path(friend: friend), method: :post, class: "btn btn-sm btn-success" %>
                <% else %>
                  <span class= "badge bg-dark text-light">
                    Already Following
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
