<h1 class="mb-4">My Portfolio</h1>

<div class="search-area mb-4">
  <h3 class="mb-1">Search Stocks</h3>
  
  <%= form_tag search_stock_path, remote: true, method: :get, class: "row g-3 align-items-end mb-1" do %>
    <div class="col-sm-9 no-right-padding">
      <%= label_tag :stock, "Stock Symbol", class: "form-label" %>
      <%= text_field_tag :stock, params[:stock], class: "form-control form-control-lg", placeholder: "e.g. AAPL", autofocus: true %>
    </div>

    <div class="col-sm-3 no-left-padding">
      <%= button_tag type: :submit, class: "btn btn-success" do %>
        <%= fa_icon "search 2x" %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="results">
</div>

<% if @tracked_stocks.present? %>
  <div class="tracked-stocks mt-4">
    <%= render 'stocks/list' %>
  </div>
<% end %>

