<h2>User Details </h2>

<div class="results-block col-9">
  <%= render 'layouts/messages' %>
</div>

<div class="card mt-3 col-9">
    <div class="card-header d-flex flex-wrap align-items-center justify-content-between gap-3">
        <table class= "col-md-12">
        <tbody>
            <tr>
                <td><strong>Name:</strong> <%= @user.full_name %></td>
                <td><strong>Email:</strong> <%= @user.email %></td>
                <td>
                <% if current_user.not_friends_with?(@user.id) %>
                    <%= link_to 'Follow Friend', friendships_path(friend: @user), method: :post, class: "btn btn-sm btn-success" %>
                <% else %>
                    <span class= "badge bg-dark text-light">
                    Already Following
                    </span>
                <% end %>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<% if !@tracked_stocks.empty? %>
    <%= render 'stocks/list' %>
<% else %>
    <div class="card mt-3 col-9">
        <div class="card-body">
            <p class="card-text">This user is not tracking any stocks yet.</p>
        </div>
    </div>
<% end %>
